// General styles

html {
  font-family: "Spartan", sans-serif;
  font-size: 125%;
  width: 100vw;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 70%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

// Container Styles

.calcContainer {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 400px;
  display: flex;
  flex-direction: column;
}

// Header Styles
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

h1 {
  font-size: 1.2rem;
}

h3 {
  font-size: 0.5rem;
  text-transform: uppercase;
}
.formContainer {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
}
.numbersThemes {
  font-size: 0.5rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.radioThemes {
  background-color: blanchedalmond;
  border-radius: 10px;
  width: 100%;
  // position: relative;
  background-color: blue;
}
// .radioThemes input {
//   position: absolute;
// }

// Display Styles

.output {
  width: 100%;
  margin-top: 10px;
  background-color: none;
  padding: 30px 20px;
  border-radius: 10px;
}
.output p {
  text-align: right;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

// Button Styles

button {
  font-family: inherit;
  padding: 10px 0;
  font-size: 1.2rem;
  display: block;
  margin: 0;
  border-radius: 7px;
  text-align: center;
  width: calc(100% / 4);
  color: white;
}

.buttonGroup {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: blanchedalmond;
  padding: 20px;
}

.buttonRow {
  gap: 15px;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.large {
  margin-bottom: 0;
}

.large button {
  width: calc(100% / 2);
}
